@keyframes slide {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}

.minicart {
  position: absolute;
  top: 44px;
  right: 0;
  min-width: 300px;
  height: 95%;
  background: white;
  overflow-y: scroll;
  animation-name: slide;
  animation-duration: 0.5s;
}

.minicart > .title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.minicart > .product-card > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.checkout-button {
  position: sticky;
  bottom: 0;
}
