.minicart {
  position: absolute;
  top: 44px;
  right: 0;
  min-width: 200px;
  height: 95%;
  background: white;
  overflow-y: scroll;
}

.minicart > .title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.minicart > .product-card > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
